.root {
  border: solid 5px rgb(47, 7, 47);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 0 0 200px;
  max-width: 320px;
  margin: 8px;
  padding: 8px;
  border-image-width: 20%;
}
.movie.Poster {
  width: 100%;
}
